.main-container {
  max-width: 400px;
  height: 100vh;
  display: block;
  overflow: scroll;
}

.nav-detailed {
  position: sticky;
  top: 0px;
}

/* small-image */
.small-image {
  display: flex;
  justify-content: center;
}
.small-image img {
  border-radius: 50%;
  width: 13vh;
  height: 13vh;
}
.small-image .container {
  top: 50%;
  left: 50%;
}
.small-image .container > div {
  font-size: 1.2rem;
}
/* nav-header */

.nav-header {
  grid-column: 1/-1;
}
.nav-header .nav-list {
  justify-content: space-evenly;
  gap: 0rem;
  padding-top: 0px;
}

.nav-header .nav-list .nav-item a {
  display: inline-block;
  background: none;
  padding-left: 0%;
  background-position: left 50% top 0%;
  padding-top: 0rem;
}
/* header */
header {
  height: 30%;
}

.signup .container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}
.signup .container .text {
  font-size: 1.8rem;
  flex-basis: 80%;
}
.signup form {
  text-align: center;
  flex: 1;
}

main {
  flex-direction: column;
}

.nav-header {
  border-bottom: 1px dashed black;
  padding: 0.5rem;
}

.nav-header .nav-list .nav-item {
  font-size: 1.2rem;
}

.small-image {
  padding: 0.4rem 0px;
}

.header .title {
  font-size: 1.8rem;
  top: 72%;
  background-color: rgba(255, 255, 255, 0.85);
  width: 80%;
}

.header .sub-title {
  font-size: 1.8rem;

  width: 100%;
  top: auto;
  bottom: 0px;
}

.nav-detailed .nav-list .nav-item a .title {
  padding: 0.3rem 0px;
  font-size: 1.2rem;
}

.signup {
  height: 10%;
}

.signup .container form input[type="text"] {
  font-size: 0.9rem;
}

.signup .container form button {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}
.recent-news article {
  border-bottom: 1px dashed black;
  padding-bottom: 1.2rem;
}

.recent-news .first-article img {
  height: 25vh;
}

.recent-news .second-article img {
  height: 30vh;
}

.recent-news .third-article img {
  height: 30vh;
}

.recent-news .last-article img {
  height: 30vh;
}

.last-container {
  position: absolute;
  top: 0%;
  left: 50%;
  background-color: white;
  /* transform: translate(-50%, -50%); */
  width: 50%;
  height: 13%;
  /* border: 1px solid black; */
}

.recent-news article {
  width: 90%;
  flex: 0px;
  align-self: center;
}

.signup {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
}
